@using Nulah.HospitalHelper.Frontend.Models.Home;
@using Nulah.HospitalHelper.Core.Models;
@model HomeViewModel;

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>

<a href="~/Beds/New">Create Bed</a>
<table>
	<thead>
		<tr>
			<th>Bed</th>
			<th>Status</th>
			<th>Patient</th>
			<th>DOB</th>
			<th>Presenting Issue</th>
			<th>Last comment</th>
			<th>Last update</th>
			<th>Nurse</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@if (Model == null || Model.Beds == null)
		{
			<tr>
				<th colspan="9">No beds</th>
			</tr>
		}
		else
		{
			@foreach (PublicBed bed in Model.Beds)
			{
				<tr>
					<td>
						@bed.BedNumber
					</td>
					<td>
						@bed.BedStatus
					</td>
					<td>
						@bed.Patient?.DisplayName
					</td>
					<td>
						@bed.Patient?.DateOfBirth
					</td>
					<td>
						@bed.Patient?.PresentingIssue
					</td>
					<td>
						@bed.LastComment
					</td>
					<td>
						@bed.LastUpdatedUTC
					</td>
					<td>
						@bed.Nurse
					</td>
					<td>
						@if (bed.BedStatus == BedStatus.Free)
						{
							<a href="Bed/Admit/@bed.BedNumber">Admit</a>
						}
						else
						{
							<a href="Bed/AddComment/@bed.BedNumber">Add comment</a>
							<a href="Bed/Discharge/@bed.BedNumber">Discharge</a>
						}
					</td>
				</tr>
			}
		}
	</tbody>
</table>


<table>
	@if (Model == null || Model.Beds == null)
	{
		<tr>
			<th colspan="2">No beds</th>
		</tr>
	}
	else
	{
		<tr>
			<td>Beds in use</td>
			<td>@Model.Beds.Where(x => x.BedStatus == BedStatus.InUse).Count()</td>
		</tr>
		<tr>
			<td>Beds free</td>
			<td>@Model.Beds.Where(x => x.BedStatus == BedStatus.Free).Count()</td>
		</tr>
		<tr>
			<td>Total patients admitted today</td>
			<td>@Model.PatientsAdmittedToday</td>
		</tr>
	}
</table>